# Node.js
node_modules/

# Build output
/dist/
/build/

# Logs
logs/
*.log
npm-debug.log*

# Environment Variables
.env

# IDE and Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Temporary files
*.tmp
*.temp

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp
*.swo
